.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    border: 1px solid transparent;
    transition: border-color 100ms ease, background-color 200ms ease;

    @mixin hover {
        border-color: light-dark(
            var(--mantine-color-violet-2),
            var(--mantine-color-violet-9)
        );
    }

    &[data-active="true"] {
        background-color: light-dark(
            var(--mantine-color-gray-1),
            var(--mantine-color-dark-6)
        );
    }
}
